.blog-post {
  padding-top: 30px;
  .title {
    font-size: 20px;
    font-weight: bold;
    margin: 0px;
    margin-bottom: 30px;
  }
  .button-action {
    width: 200px;
    margin-right: 0px;
    margin-left: auto;
  }
}
