.blog-items {
  width: calc(50% - 10px);
  border-radius: 8px;
  margin-bottom: 20px;
  overflow: hidden;
  box-shadow: 5px 6px 14px rgba(0, 0, 0, 0.2);
  .image-thumb {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  .content-detail {
    padding: 16px;
    .title-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .edit-wrapper {
        display: flex;
        align-items: center;
        .edit {
          font-weight: bold;
          color: #03a9f4;
          cursor: pointer;
          margin: 0px;
          margin-right: 14px;
        }
        .delete {
          font-weight: bold;
          color: #e91e63;
          cursor: pointer;
          margin: 0px;
          margin-left: 14px;
        }
      }
    }

    .title {
      margin: 0px;
      font-size: 20px;
      font-weight: bold;
      color: #313131;
    }
    .author {
      margin: 0px;
      margin-top: 4px;
      font-size: 12px;
      color: gray;
    }
    .body {
      margin: 0px;
      margin-top: 18px;
      font-size: 16px;
      color: #353535;
    }
    .btn-view {
      width: 150px;
      margin-right: 0px;
      margin-left: auto;
    }
  }
}
